<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IAImportManager.Properties.Settings.SQLConnection"
            connectionString="Data Source=jason-pc\sql2012;Initial Catalog=AvenueCapital_IAWorking;Persist Security Info=True;User ID=sa;Password=SLXMa$t3r" />
        <add name="IAImportManager.Properties.Settings.AvenueCapital_IAWorkingConnectionString"
            connectionString="Data Source=JASON-PC\SQL2012;Initial Catalog=AvenueCapital_IAWorking;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>